<template name="tagActive">
  <form class="main form page">
    <div class="form-group ">
      <div class="col-sm-2">
          <label class="control-label" for="remark">เปลี่ยนสถานะ Tag เป็น Active :</label>
      </div>
      <!--<div class="switch controls" id="toggle_remark"  data-on-label="SHOW" data-off-label="OFF">-->
          <input id="chk_disable" name="chk_disable" type="checkbox" >
      <!--  </div>-->

    </div>


    <input type="submit" value="Submit" class="btn btn-primary" disabled />
  </form>
</template>
