<template name="loginAfterVelidate">
  <div class="row" style="margin-top:50px">
  <!--<div class="login-box">
    <div class="login-logo">
      <a class="logo" href="#"><img src="/assets/img/logo.png" alt="anitag"></a>

    </div>-->
    <div class="login-logo">
      <a class="logo" href="#"><img src="/assets/img/logo.png" alt="anitag"></a>

    </div>


    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
          <li class="active" style="width:48%" align="center">
          <a href="#tab_1" data-toggle="tab" aria-expanded="true">สมัครสมาชิก</a>
        </li>
        <li class="" style="width:49%" align="center">
          <a href="#tab_2" data-toggle="tab" aria-expanded="false">Login</a>
        </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
              {{>userRegisterAfterValidate}}
            </div>
            <div class="tab-pane " id="tab_2">
              <form >
                <div class="box-body">


              <!-- Text input-->
              <div class="input-group {{errorClass 'email'}}">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input id="email" name="email" type="email" placeholder="E-Mail" class="form-control" required="">

             </div>
             <span class="help-block">{{errorMessage 'email'}}</span>

              <!-- Password input-->
              <div class="input-group {{errorClass 'password'}}">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="password" name="password" type="password" placeholder="รหัสผ่าน" class="form-control" required="">

                </div>
                <span class="help-block">{{errorMessage 'password'}}</span>




              <!-- Button -->
              <div class="row">

                  <div class="col-sm-4">
                    <input type="submit" value="Login" class="btn btn-primary"/>
                  <!--  <button id="regis" name="regis" class="btn btn-success">สมัครสมาชิก</button>-->
                  </div>
              </div>


            </div>
          </form>

            </div>
          </div>
        </div>



        </div>

</template>
