<template name="userRegisterAfterValidate">
  <form >
    <div class="box-body">
  <!-- Text input-->

  <div class="input-group {{errorClass 'emails'}}">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input id="emails" name="emails" type="email" placeholder="E-Mail" class="form-control" required="">

 </div>
<span class="help-block">{{errorMessage 'emails'}}</span>


  <div class="input-group {{errorClass 'password1'}}">
  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    <input id="password1" name="password1" type="password" placeholder="รหัสผ่าน" class="form-control" required="">

  </div>
  <span class="help-block">{{errorMessage 'password1'}}</span>

  <div class="input-group {{errorClass 'password2'}}">
    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input id="password2" name="password2" type="password" placeholder="ยืนยันรหัสผ่าน" class="form-control" required="">

    </div>
    <span class="help-block">{{errorMessage 'password2'}}</span>



    <div class="input-group {{errorClass 'name'}}">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input id="name" name="name" type="text" placeholder="ชื่อ-สกุล" class="form-control" required="">

      </div>
      <span class="help-block">{{errorMessage 'name'}}</span>



      <div class="input-group {{errorClass 'tel'}}">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <input id="tel" name="tel" type="tel" placeholder="เบอร์โทรศัพท์" class="form-control" required="">

        </div>
          <p style="color:red">&nbsp;&nbsp;&nbsp;ข้อมูลถูกเก็บเป็นความลับจะแสดงเมื่อสัตว์เลี้ยงหาย</p>
        <span class="help-block">{{errorMessage 'tel'}}</span>





        <div class="input-group {{errorClass 'address'}}">
          <span class="input-group-addon"><i class="fa fa-home"></i></span>

          <textarea class="form-control" id="address" name="address" placeholder="ที่อยู่"></textarea>
          </div>
          <span class="help-block">{{errorMessage 'address'}}</span>



          <div class="row">

              <div class="col-sm-4">

                <button id="regis" name="regis" class="btn btn-success">สมัครสมาชิก</button>
              <!--  <button id="regis" name="regis" class="btn btn-success">สมัครสมาชิก</button>-->
              </div>
          </div>

        </div>
  </form>



</template>
