<template name="userEdit">
  <div class="box-header with-border">
      <h3 class="box-title">แก้ไขข้อมูลส่วนตัว</h3>
    </div>

    <form class="form-horizontal">
      <div class="box-body">

    {{user}}
    <!--    <input name="addr" id="addr" type="text" value="dfgdfgdf" placeholder="ที่อยู่" class="form-control"/>-->
    {{#each profile}}
    <div class="form-group {{errorClass 'name'}}">

        <label class="col-sm-2 control-label" for="name"> ชื่อ </label>
    <div class="col-sm-6">

          <input type="text" name="name" id="name" value="{{name}}"  class="form-control" required />
          <span class="help-block">{{errorMessage 'name'}}</span>

      </div>
    </div>
    <div class="form-group {{errorClass 'tel'}}">
      <label class="col-sm-2 control-label" for="tel"> เบอร์โทรศัพท์ </label>
    <div class="col-sm-6">
        <input type="tel" name="tel" id="tel" value="{{tel}}"  class="form-control"  required/>
          <span class="help-block">{{errorMessage 'tel'}}</span>
      </div>
    </div>

    <div class="form-group {{errorClass 'email'}}">

        <label class="col-sm-2 control-label" for="email"> email </label>
    <div class="col-sm-6">

          <input type="email" name="email" id="email" value="{{email}}"  class="form-control" required />
            <span class="help-block">{{errorMessage 'email'}}</span>
        </div>
    </div>
    <div class="form-group ">

        <label class="col-sm-2 control-label" for="addr"> ที่อยู่ </label>
      <div class="col-sm-6">
          <textarea row="3" name="addr" id="addr"  class="form-control" >{{address}}</textarea>


      </div>
    </div>
    {{/each}}



  <div class="box-footer col-sm-offset-2 col-sm-10">

    <input type="submit" value="บันทึกข้อมูล" class="btn btn-primary"/>
     <a href="{{pathFor 'tagsList'}}" class="btn btn-default">ยกเลิก</a>
  </div>
</div>
</form>

</template>
