<template name="userEditPermission">


  <div class="box-header with-border">
    <h3 class="box-title">แก้ไขตั้งค่าเปิดเผยข้อมูลเป็นสาธารณะ</h3>
  </div>


    <form class="form-horizontal">
      <div class="box-body">

    <div class="form-group ">
      <label class="col-sm-2 control-label" for="all">เลือกทั้งหมด</label>
      <div class="col-sm-6">
      <!--<div class="switch controls" id="toggle_tagNo"  data-on-label="SHOW" data-off-label="OFF">-->
        <input id="sel_all"  type="checkbox" >
      <!--  </div>-->


      </div>
    </div>

    <div class="form-group ">
        <label class="col-sm-2 control-label" for="name">ชื่อ-สกุล</label>
      <div class="col-sm-6">
        <input id="chk_name" name="userPermis" type="checkbox" value="name" {{isCheckName}}>
      </div>
      <!--<div class="switch controls" id="toggle_name"  data-on-label="SHOW" data-off-label="OFF">-->

      <!--  </div>-->
    </div>


    <div class="form-group ">
        <label class="col-sm-2 control-label" for="microship">เบอร์โทรศัพท์</label>
      <div class="col-sm-6">
        <input id="chk_tel" name="userPermis" type="checkbox" value="tel" {{isCheckTel}}>
      </div>
      <!--<div class="switch controls" id="toggle_microship"  data-on-label="SHOW" data-off-label="OFF">-->

      <!--  </div>-->

    </div>

    <div class="form-group ">
      <label class="col-sm-2 control-label" for="addr">ที่อยู่</label>
      <div class="col-sm-6">
          <input id="chk_addr" name="userPermis" type="checkbox" value="addr"  {{isCheckAddr}}>
      </div>
      <!--<div class="switch controls" id="toggle_breed"  data-on-label="SHOW" data-off-label="OFF">-->

      <!--  </div>-->

    </div>

    <div class="form-group ">
      <label class="col-sm-2 control-label" for="emails">E-Mail</label>
      <div class="col-sm-6">
          <input id="chk_email" name="userPermis" type="checkbox" value="email" {{isCheckEimail}} >
        </div>
          <!--<div class="switch controls" id="toggle_typeId"  data-on-label="SHOW" data-off-label="OFF">-->

          <!--  </div>-->

    </div>


    <!--type="submit"-->



    <div class="box-footer col-sm-offset-2 col-sm-6">
      <input type="submit" value="บันทึกข้อมูล" class="btn btn-primary"/>
       <a href="pathFor 'tagsList'" class="btn btn-default">ยกเลิก</a>
    </div>
    </div>
  </form>



</template>
