<template name="profileImageList">

    <div class="row">
      <div class="col-md-12">

         <div class="image-info">


            <div >
              {{#if ownsFile}}
                <a class="delete-image">
                  <i class="fa fa-trash fa-2x"></i>ลบ file นี้
                </a>
              {{/if}}
              <a href="{{url}}" target="_blank">
                <img src="{{url}}"  class="thumbnail"/>
              </a>
            </div>



        </div>

      </div>
    </div>
</template>
